<!-- <div class=dot></div> -->
<div
  style="display:flex;align-items:center; justify-content:center'; width:50rem;"
>
  <div class="flex" style="width:100%; height:50%">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.4556006032103!2d8.632481415998422!3d49.81510167939289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd7b06b277adcb%3A0x1ac3c474900dd977!2sUhlandstra%C3%9Fe%209%2C%2064297%20Darmstadt!5e0!3m2!1sde!2sde!4v1651508064696!5m2!1sde!2sde"
      width="100%"
      height="220"
      style="border:0;width:100%;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
<div>Distance</div>
<div>
  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
</div>
<div></div>
<div style="display:flex;align-items:center; justify-content:center">
  <button routerLink="/list" class="FindButton">Find now!</button>
</div>
